@model UserDashboard.Models.LoginVM

<h1>Login:</h1>

@{
	if(@ViewBag.error != null){
		<h1>@ViewBag.error</h1>
	}
}

<form asp-controller="UserDashboard" asp-action="loginPost" >
	<p>Email:<input asp-for="email" ></p>
	<span asp-validation-for="email"></span>

	<p>Password:<input asp-for="password" ></p>
	<span asp-validation-for="password"></span>

	<input type="submit" value="Login">
</form>

<a href="/register">Don't have an account? Register.</a>
